body  {

    background-color: #C8A2C8;
    
    font-family: "comic sans MS", cursive;
    
    margin: 0;
    
    padding: 0;
    
    animation: fadelnBODY 1s ease;
    
    }
    
    @keyframes fadeinBODY {
    
    from  {opacity: 0;}
    
    to {opacity: 0;}
        
    }
    
    header { 
    
    background-color:#F8A5C2 ;
    
    padding: 10px 0;
    
    box-shadow: 0 4px 8px rgba(0, 0, 0.2);
    
    }
    
    header nav ul { 
    
    list-style: none;
    
    margin: 0;
    
    padding: 0;
    
    width: 100%;
    
    display: flex;
    
    justify-self: center;
    
    gap: 10px;
    
    }
    
    header nav ul li {
    
    position: relative;
    
    }
    
    header nav ul li a { 
    
    color: white;
    
    text-decoration: none;
    
    padding: 10px 15px;
    
    border-radius: 5px;
    
    background-color: #F7D26C;
    
    transition: transform 0.3s ease, background-color 0.3 ease, box-shadoow 0.3 ease;
    
    }
    header nav ul li a:hover { 
    
    transform: scale(1.05);
    
    background-color: #7A4EAB;
    
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0, 0.3);
    
    }
    
    #contenido { 
    
    width: fit-content;
    
    margin: 30px auto;
    
    text-align: center;
    
    animation: fadeln 1s ease-out;
    
    }
    
    @keyframes fadeln {
    
    from {opacity: 0, transform: translateY(-20px);}
    
    to {opacity: 1, transform: translateY(0);}
        
    }
    h1 {
    
        color: #D9D9D9;
    
    font-family: cambria;
    }